ul {
    list-style: none;
}

body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #f5f5f5;
	color: #4d4d4d;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	font-weight: 300;
}

h1 {
    position: absolute;
    top: -155px;
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
}

.todoapp {
	background: #fff;
	margin: 130px 0 40px 0;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.toggle-all {
	position: absolute;
    margin-left: 15px;
	margin-top: -35px;
	margin-bottom: -5px;
	padding:-5px;
    font-size: 20px;
    transform: rotate(90deg);
    transition: color 0.2s ease-out;
    color: rgb(202, 199, 199);
	border: none;
	outline: none;  
}

.toggle-all:hover {
	color: #777;
}

.todoapp input {
	position: relative;
	padding: 10px 6px;
	text-indent: 54px;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	color: inherit;
	border-bottom: 1px solid #f5f5f5;
	box-sizing: border-box;
	outline: none;
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

::placeholder {
	color: #e6e6e6;
	opacity: .7;
}

.todo-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.todo-list li {
	position: relative;
	font-size: 24px;
    border-bottom: 1px solid #ededed;
    word-break: break-all;
	padding: 15px 15px 15px 60px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
	user-select: none;
	font-weight: 100;
	word-wrap: break-word;
	overflow-wrap: break-word;
	white-space: normal;
}

.todo-list li .delete {
    position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	padding:0;
	font-size: 15px;
	margin-bottom: 11px;
    transition: color 0.2s ease-out;
    outline: none;
	border: 0;
	display:none;
	font-weight: 300
}


.todo-list li:hover .delete{
	background-color: rgba(255, 255, 255, 0.5);
	color: #ca8f8f;
	display: block;
	font-weight: lighter
}


.footer {
    color: #777;
    background: white;
	padding: 10px 15px;
	height: 20px;
	text-align: center;
	border-top: 1px solid #e6e6e6;
	content: '';
	position: absolute;
	right: 0;
	left: 0;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}

.filters li {
	display: inline;
}

.filters li a {
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

.filters li a:hover {
    border-color: rgba(175, 47, 47, 0.1);
}

.filters li a:focus {
    border: 1px solid;
    border-color: rgba(175, 47, 47, 0.2);
    
}
    
.todo-count {
	float: left;
	text-align: left;
    font-weight: 300;
}

.clear-completed, .clear-completed:active {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
	float: right;
	position: relative;
    cursor: pointer;
    color: inherit;

	border: 1px solid transparent;
	border-radius: 3px;
}

.clear-completed:hover {
	text-decoration: underline;
}

/* CSS taken from w3schools */
/* The container */
.container {
	display: block;
	position: relative;
	margin-left: -45px;
	margin-bottom: 0px;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
	position: absolute;
	opacity: 0;
	height: 0;
	width: 0;
	border: solid black;
  }
  
  /* Create a custom checkbox */
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: white;
	border: 1px solid gray;
	border-radius: 100px;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid green;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }

  .todo-list .update-todo-text {
	position: relative;
	padding: 0px 0px;
	text-indent: 0px;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1em;
	border: none;
	color: inherit;
	box-sizing: border-box;
	box-shadow: none;
	outline: .2px solid rgb(173, 171, 171);
  	outline-offset: 14px;
}